
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="language">
                <div class="imageC">
                </div>
                <div class="image-bottom">
                    <div class="name">
                        Build code C#
        
                        <div class="comment">
                            Build code C# online và một số bài tập rèn luyện kỹ năng lập trình C#.
                        </div>
                        <hr class="line">
                        <button class="btn-buildcode" (click)="codeC()">Build</button>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="language">
                <div class="imageJava">
        
                </div>
                <div class="image-bottom">
                    <div class="name">
                        Build code Java
        
                        <div class="comment">
                            Build code Java online và một số bài tập rèn luyện kỹ năng lập trình Java.
                        </div>
                        <hr class="line">
                        <button class="btn-buildcode" (click)="codeJava()">Build</button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="language">
                <div class="imagePython">
        
                </div>
                <div class="image-bottom">
                    <div class="name">
                        Build code Python
        
                        <div class="comment">
                            Build code Python online và một số bài tập rèn luyện kỹ năng lập trình Python.
                        </div>
                        <hr class="line">
                        <button class="btn-buildcode" (click)="codePython()">Build</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
