.background{
    background-color:rgb(89, 137, 240);
    padding-top: 1rem;
    width: 100vw;
    height: 60px;
}

.name{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.home{
    color: whitesmoke;
    padding-left: 7rem;
    font-size: 20px;
}