<div class="jumbotron">
	<h1 class="display-3">Hello, world!</h1>
	<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	<hr class="m-y-md">
	<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" href="#" role="button" ng-click="learnMore()">Learn more</a>
	</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4" ng-click="do_code(1)">
			<div class="card text-white bg-info mb-3" style="max-width: 18rem;">
				<div class="card-header">C#</div>
				<div class="card-body">
				    <h5 class="card-title">Bấm vào đây để code</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum officiis sint ratione obcaecati</p>
				</div>
			</div>
		</div>
		<!-- end C# -->
		<div class="col-sm-4" ng-click="do_code(2)">
			<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
				<div class="card-header">Java</div>
				<div class="card-body">
				    <h5 class="card-title">Bấm vào đây để code</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum officiis sint ratione obcaecati</p>
				</div>
			</div>
		</div>
		<!-- end java -->
		<div class="col-sm-4" ng-click="do_code(3)">
			<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
				<div class="card-header">Python 3</div>
				<div class="card-body">
				   	<h5 class="card-title">Bấm vào đây để code</h5>
				    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum officiis sint ratione obcaecati</p>
				</div>
			</div>
		</div>
		<!-- end python 3 -->
	</div>
</div>